  body {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;

  }


  h1{
    display: block;
    font-size: 2em;
    font-weight: bold;
  }


   storong {
    font-weight: bold;
   }

  p {
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
    display: block;
  }